.trip {
    align-items:center;
    text-align: center;
}


.jumbotron {
    background-image: url("mountain-jumbotron.jpg");
    background-size:cover;
    min-height: 500px;
    color:white;
    background-position: center;
    text-shadow: black 1px 1px;
    filter:grayscale(0%)
}

footer section p a {
    color: hsl(0, 0%,40%);
}

footer section {
    color: hsl(0, 0%,40%);
}

.text-uppercase {
    color: hsl(0, 0%,40%);
}


.trip_pic {
    max-width:250px;
    height: auto;
}