.trip {
    align-items:center;
    text-align: center;
}


.jumbotron {
    background-image: url("mountain-jumbotron.jpg");
    background-size:cover;
    min-height: 500px;
    text-emphasis-color: white;
    text-decoration-color: white;
    color:white;
}

.trip{
    background-color: aqua;
}