.trip {
    align-items:center;
    text-align: center;
}


.jumbotron {
    background-image: url("mountain-jumbotron.jpg");
    background-size:cover;
    min-height: 500px;
    color:white;
    background-position: center;
}

.trip{
    background-color: aqua;
}