.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
  }
  
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 20px;
  }
  
  #column1 {
    text-align: right;
  }
  
  
  
  @media screen and (max-width: 992px) {
  
    #column1 {
      text-align: left;
    }
  
    #map {
      align-content: center;
    }
  
  }
  
  @media screen and (max-width: 399px) {
  
    #map {
      display: none;
    }
  }
  
  .storefront {
    display: flex;
    max-width: 600px;
  }
  
  
  footer section p a {
    color: hsl(0, 0%,40%);
  }
  
  footer section {
    color: hsl(0, 0%,40%);
  }
  
  .text-uppercase {
    color: hsl(0, 0%,40%);
  }

  .btn-primary {
    background-color: hsl(211, 100%, 45%);
    border-color: hsl(211, 100%, 45%);
  }